# Server
PORT=5000
NODE_ENV=development

# Database (postgres://user:password@host:port/database)
DATABASE_URL=postgresql://ish_back_user:RdQVNm5FnX1eLjYOdd3FmUbJDQ4Yru7z@dpg-dah9rauq1p3s73b7qrsg-a/ish_back

# JWT
JWT_SECRET=changing_this_secret_in_production
JWT_EXPIRES_IN=7d

# CORS (frontend manzili)
CLIENT_URL=http://localhost:5173